Options -Indexes

RewriteEngine On
RewriteBase /MedQueue/Backend/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<FilesMatch "^(\.env|composer\.(json|lock)|phpunit\.xml)$">
  Require all denied
</FilesMatch>
